/* Styles for the square container */
.square-container {
  position: relative;

}

/* Styles for the square */
.square {
  width: 79px;
  height: 79px;

}

/* Styles for the index label */
.index {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 12px;
  color: #333;
}

.piece {
  position: absolute;
  top: 0;
  left: 0;
  width: 79px;
  height: 79px;
  background-size: 474px 158px; /* Ensure it covers the sprite sheet dimensions */
}

/* Styles for alternating colors of the squares (Handled in inline styles) */

/* Styles for the row */
.row {
  display: flex;
}

/* Styles for the chessboard */
.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 632px; /* 8 * 79px */
  height: 632px;
  border: 2px solid #333;
}
